<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load compress %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Weather App{% endblock %}</title>
    {% compress css %}
        <link rel="styelsheet" type="text/x-scss" href="{% static 'weather/style.scss' %}">
    {% endcompress %}
</head>
<body>
    <div id="topbar">
        {% block topbar %}
        <h1>The Weather!</h1>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>