<!DOCTYPE html>
<html lang="en">
<head>
    {% load sass_tags %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Weather App{% endblock %}</title>
    <link href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="topbar">
        {% block topbar %}
        <h1>The Weather!</h1>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>