{% extends "weather/base.html" %}

{% block content %}
    <form method="POST">
    {% csrf_token %}
    <div>
        <div>
            {{ form.name }}
        </div>
        <div>
            <button>
                Add City
            </button>
        </div>
    </div>
</form>
    {% for weather in weather_data %}
    <div class="box">
        <h1>{{ weather.city }}</h1>
        <figure> 
            <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="weather icon">
        </figure>
        <p>{{ weather.temperature }}</p>
        <p>{{weather.description }}</p>
    </div>
    {% endfor %}
{% endblock %}